*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body{
  width: 100%;
  height: 100%;
}

header, footer{
  height: 10%;
  display: flex;
  align-items: center;
  justify-content: center;
}

h1{
  width: 100%;
  font-size: 120%;
  text-align: center;
  font-family: 'Righteous', cursive;
}

footer{
  font-family: 'Coiny', cursive;
}

#map{
  display: flex;
  justify-content: center;
  align-items: center;
  align-content: center;

}

img{
  max-width: 80%;
  height: auto;
}