*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body{
  width: 100%;
  height: 100%;
}

@mixin a{
  font-weight: bolder;
  color: #000;
  list-style-type: none; 
}

@mixin b{
  text-align: center;
  padding: 2% 0;
  background-color: #d2d2e0;
}

@mixin c{
  overflow: auto;
  color: #fff;
  display: none;
}

//mobile
@media screen and (min-width:320px){ 

header, footer{ display: none; }

#menu{
 @include a;

  li{
    @include b;
  
    ul{
      height: 50%;
      @include c;
      
      li{
        padding: 3% 0;
        background-color: rgba(42, 42, 60, 0.7);
      }
    }
  }

  li:hover > ul { display: block; }
}
}

@media screen and (min-width:375px){ 

  header, footer{ display: none; }  
  
  #menu{
    @include a;
  
    li{
      @include b;
    
      ul{
        height: 50%;
        @include c;
        
        li{
          width: 100%;
          padding: 3% 0;
          background-color: rgba(42, 42, 60, 0.7);
        }
      }
    }
  
    li:hover > ul {
      display: block;
    }
  }
  }

  @media screen and (min-width:425px){ 
    header, footer{
      display: none;
    }
    
    
    #menu{
      @include a;
    
      li{
        @include b;
      
        ul{
          height: 50%;
          @include c;
          
          li{
            width: 100%;
            padding: 3% 0;
            background-color: rgba(42, 42, 60, 0.7);
          }
        }
      }
    
      li:hover > ul {
        display: block;
      }
    }
    }

//tablet
@media screen and (min-width:768px){ 

  header, footer{ display: none; }  

  #menu{
    @include a;
    list-style-type: none; 
    display:flex;
    flex-wrap: wrap;
    justify-content: space-around;

    li{
      text-align: center;
      background-color: #d2d2e0;
      padding: 1% 0;
      width: 33%;

      ul{
        height: 50%;
        @include c;
     
        li{
          width: 100%;
          padding: 3% 0;
          background-color: rgba(42, 42, 60, 0.7);
        }          
      }
    }

    li:hover > ul { display: block; }
  }
}

//desktop
@media screen and (min-width:1024px){ 

  header, footer{ 
    text-align: center;
    display: flex; 
    justify-content: center;
    align-items: center;
    align-content: center;
    height: 10%;
  }  

  nav{
    height: 10%;
  }

  #mainContainer{
    width: 85%;
    height: 70%;
    margin: 0 auto;
    overflow: auto;
  }

  #menu{
    @include a;
    list-style-type: none; 
    display:flex;
    flex-wrap: wrap;
    justify-content: space-around;

    li{
      text-align: center;
      background-color: #d2d2e0;
      padding: 1% 0;
      width: 10%;

      ul{
        height: 50%;
        @include c;
        background-color: #d2d2e0;
     
        li{
          width: 100%;
          padding: 1% 0;
          background-color: rgba(42, 42, 60, 0.7);
        }          
      }
    }

    li:hover > ul { display: block; }
  }
}

//stylowanie mapki

#map{
  width: 100%;
  height: 200px;
}

img{
  width: 100%;
  height: auto;
}